<div class="text-center">
    <h2>Liste des articles</h2>
</div>
<div class="container">
    <table class="table table-striped">

    <thead><th>Id</th><th>Nom</th><th>Description</th><th>Actions</th></thead>

    <tbody>
      <tr *ngFor="let article of articles | async">
      <td>{{article.id}}</td>
      <td>{{article.name}}</td>
      <td>{{article.description}}</td>    
      <td>
      <!--<a routerLink='/edit/{{article.id}}' class="btn btn-success">Edition</a>
        <button class="btn btn-danger" (click)="deleteManga(article.id)"> Suppression</button> -->
      </td>
    </tr>
    </tbody>
    </table>
    <pagination [boundaryLinks]="true" 
                [totalItems]="totalItems" 
                [ngModel]="currentPage" 
                [itemsPerPage]="12"
                class="pagination-sm"
                previousText="&lsaquo;" 
                nextText="&rsaquo;" 
                firstText="&laquo;" 
                lastText="&raquo;"
                (pageChanged)="pageChanged($event)"></pagination>
</div>